<head>
  <style>
@media (max-width: 415px){
 .container{
   min-width:100% !important;
   max-width:100% !important;
 }
}
  </style>
  <title>Show Chapter</title>
</head>

<div class="container mt-2">

 <% chapter.pages.forEach((page) =>{ %>

    <img class="img-fluid mx-auto d-block" src="<%=page.split('\r')[0]%>"alt="chapter"></a>

    <%})%>

</div>
<br>

  <div class="container">
    <div class="row justify-content-center">

      <!--style="margin-right: 0; text-align: right;"-->
      <div class="col-xs-6 mt-1 mb-sm-3 text-center mx-auto ">
            <label>change Chapter</label>
           </div>
   
      <div class="col-xs-6 ">
   <select id="disabledSelect" name="type" class="form-select" onchange="location = this.value">
    <% allchapter.forEach((ch) =>{ %>
     <% if(ch._id.equals(chapter._id)) {%>
      <option selected value="/chapter/show/<%=ch._id%>"><%=ch.number%></option>
      <%} else{%>
      <option  value="/chapter/show/<%=ch._id%>"><%=ch.number%></option>
      <%}})%>
    </select>
      </div>
    </div>
    </div> 

