<head>
    <link rel="stylesheet" href="/css/manga.css">
</head>

<br>
<div class="container">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row center">
            <div class="col-md-4">
                <img src="<%=m.poster %>" draggable="false"
                    class="card-img" alt="solo leveling poster">
            </div>
            
            <div class="col-md-8">
                <div class="card-body">
                    <% if(currentUser) { %>
                        <% if(currentUser.type == "2") { %>
                            <h3 class="card-title"><%=m.title%> 
                                <span><a href=""><i class="far fa-heart"></i></a></span>
                                <span><a href="/manga/edit/<%=m._id%>"><i class="far fa-edit"></i></a></span>
                                <span><a href=""><i class="far fa-trash-alt"></i></a></span>  
                            </h3>
                        <%}else if(currentUser.type == "3"){%>
                            <h3 class="card-title"><%=m.title%> 
                                <span><a href=""><i class="far fa-heart"></i></a></span>
                                <span><a href="/manga/edit/<%=m._id%>"><i class="far fa-edit"></i></a></span>
                                </h3>
                            <%}else if(currentUser.type == "1"){%>
                                <h3 class="card-title"><%=m.title%> 
                                    <span><a href=""><i class="far fa-heart"></i></a></span>
                                </h3>
                            <%}%>
                        <%}else{%>
                            <h3 class="card-title"><%=m.title%> </h3>
                        <%}%>

                   
                    <hr class="my-4">
                    <p class="card-text"><b>Rate: -/10 <br>
                            <b>Genres:</b> <%=m.genres.join() %><br>
                            <b>Author:</b> <%=m.author %><br>
                            <b>Painter:</b> <%=m.artists %><br>
                            <b>Origin:</b> <%=m.origin %><br>
                            <b>Reading direction:</b> <%=m.reading_direction %><br>
                    </p>
                    <p class="card-text"><b>Story: </b> <%=m.description %>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                        
                </div>
            </div>
        </div>
        <div id="zero-top" class="row">
            <div id="zero-top" class="col-xs-12">
                <div id="zero-top" class="card-body">

                        <hr id="zero-top" class="my-4">
                        <div class="row center"><!-- TODO: add margins -->
                            <% chapters.forEach(ch=>{ %>
                                <div class="col-xs-3 col-md-2 offset3 ">
                                    <form method="get" action="/chapter/show/<%=ch._id%>">
                                        <button type="submit" class="btn btn-dark">#<%= ch.number %></button>
                                    </form>
                                </div>
                            <%})%>
                            <!-- 
                            <div class="col-xs-3 col-md-2 offset3 ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 offset3 ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 offset3 ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                            <div class="col-xs-3 col-md-2 mx-auto ">
                                <button type="button" class="btn btn-dark">#100</button>
                            </div>
                             -->
                        </div><!-- end row -->

                    </div><!-- end card-body -->
                </div><!-- end col-med 8 -->




        </div><!-- end row -->
    </div><!-- end card -->

</div><!-- end of container -->
