<!--carousel-->
<div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">

    <div class="carousel-inner">
        <!--slid 1-->
        <div class="carousel-item active" style="background-image: url('img/king.jpg')">
            <div class="carousel-caption">
                <h2>First slide label</h2>
            </div>
        </div>

        <!--slid 2-->
        <div class="carousel-item " style="background-image: url('/img/one.png')">
            <div class="carousel-caption ">
                <h2>First slide label</h2>
            </div>
        </div>

        <!--slid 3-->
        <div class="carousel-item " style="background-image: url('/img/ruler.jpg')">
            <div class="carousel-caption">
                <h2>First slide label</h2>
            </div>
        </div>

    </div>

    <!--prev and next-->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!--new chapters-->
<section class="new-chapters my-5">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto text-center">
                <h1>Latest  Chapters</h1>
            </div>
        </div>

        <div class="row mt-3">
            <!--col 1-->
            <div class="col-12 mx-auto col-sm-6 col-xl-3 mb-3 ">
                <div class="chapter">
                    <!-- <img src="<%= main_manga[0].poster%>" alt=""> -->
                    <div class="chapter-info">
                        <!-- <h5> <i class="fas fa-book-open"></i> <%= main_manga[0].title%></h5> -->
                        <div class="chapter-name-time">
                            <p> <i class="fas fa-circle"></i> ch.186</p>
                            <!-- <p> Created:<%= moment(main_manga[0].createdAt).fromNow() %></p> -->
                        </div>
                    </div>
                </div>
            </div>

            <!--col 2-->
            <div class="col-12 mx-auto col-sm-6 col-xl-3 mb-3 ">
                <div class="chapter">
                    
                    <!-- <img src="<%= newChapters[0].manga_poster%>" alt=""> -->
                    <div class="chapter-info">
                        <!-- <h5> <i class="fas fa-book-open"></i> <%= newChapters[0].manga_title%></h5> -->

                        <div class="chapter-name-time">
                            <p> <a href="/chapter/show/<%= newChapters[0].chapters_id[0]%>"><i class="fas fa-circle"></i> ch.<%= newChapters[0].chapters_number[0]%></a></p>
                            <!-- <p> Created: <%= moment(newChapters[0].createdAt).fromNow() %></p> -->
                        </div>
                    </div>
                </div>
            </div>

            <!--col 3-->
            <div class="col-12 mx-auto col-sm-6 col-xl-3 mb-3">
                <div class="chapter">
                    <img src="img/ruler.jpg" alt="">
                    <div class="chapter-info">
                        <h5> <i class="fas fa-book-open"></i> Attack on Titan</h5>

                        <div class="chapter-name-time">
                            <p> <i class="fas fa-circle"></i> ch.186</p>
                            <p>54 minutes ago</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--col 4-->
            <div class="col-12 mx-auto col-sm-6 col-xl-3 mb-3">
                <div class="chapter">
                    <img src="img/solo.jpg" alt="">
                    <div class="chapter-info">
                        <h5> <i class="fas fa-book-open"></i> Attack on Titan</h5>
                        <div class="chapter-name-time">
                            <p> <i class="fas fa-circle"></i> ch.186</p>
                            <p>54 minutes ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- use this -->
            <!-- <div class="col-12  col-sm-12 col-md-6 col-xl-3 mb-3">
                <div class="chapter">
                    <img src="img/solo.jpg" alt="">
                    <div class="chapter-info">
                        <h5> <i class="fas fa-book-open"></i> Attack on Titan</h5>
                        <div class="chapter-name-time">
                            <p> <i class="fas fa-circle"></i> ch.186</p>
                            <p>54 minutes ago</p>
                        </div>
                    </div>
                </div>
            </div>
             -->
        </div>
        <!--end first row-->
        <!------------------------------------------->
        <div class="row ">
            <!--col 1-->
            <div class="col-12 mx-auto col-sm-6 col-xl-3 mb-3 ">
                <div class="chapter">
                    <img src="img/solo.jpg" alt="">
                    <div class="chapter-info">
                        <h5> <i class="fas fa-book-open"></i> Attack on Titan</h5>
                        <div class="chapter-name-time">
                            <p> <i class="fas fa-circle"></i> ch.186</p>
                            <p>54 minutes ago</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--col 1-->
            <div class="col-12 mx-auto col-sm-6 col-xl-3 mb-3 ">
                <div class="chapter">
                    <img src="img/one.png" alt="">
                    <div class="chapter-info">
                        <h5> <i class="fas fa-book-open"></i> Attack on Titan</h5>

                        <div class="chapter-name-time">
                            <p> <i class="fas fa-circle"></i> ch.186</p>
                            <p>54 minutes ago</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--col 1-->
            <div class="col-12 mx-auto col-sm-6 col-xl-3 mb-3">
                <div class="chapter">
                    <img src="img/king.jpg" alt="">
                    <div class="chapter-info">
                        <h5> <i class="fas fa-book-open"></i> Attack on Titan</h5>

                        <div class="chapter-name-time">
                            <p> <i class="fas fa-circle"></i> ch.186</p>
                            <p>54 minutes ago</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--col 1-->
            <div class="col-12 mx-auto col-sm-6 col-xl-3 mb-3">
                <div class="chapter">
                    <img src="img/ruler.jpg" alt="">
                    <div class="chapter-info">
                        <h5> <i class="fas fa-book-open"></i> Attack on Titan</h5>
                        <div class="chapter-name-time">
                            <p> <i class="fas fa-circle"></i> ch.186</p>
                            <p>54 minutes ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end secound row-->


    </div>
    <!--end container-->
</section>


<!--about as-->
<section class="about py-2">
    <div class="container">
        <div class="row mx-auto">
            <div class="col-10 mx-auto col-md-6 about-col">
                <h1 class="text-capitalize">about <strong>us</strong></h1>
                <p class="text-muted  ">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Soluta ipsum veritatis aut tenetur saepe id Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.Quam, veritatis!
                </p>
            </div>

            <div class="col-10 mx-auto col-md-6 my-5 align-self-center">
                <div class="about-img-container">
                    <img src="img/ruler.jpg" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </div>
</section>